/* GLOBAL STYLES */
body {
   background: #eee;
}
/* HEADER CONTENT */
#topics {
   margin: 2px;
}
.topic-btn {
   background: rgb(0, 180, 180);
   border-radius: 5px;
   font-size: .75rem;
   text-decoration: none;
   color: white;
   padding: .20rem .75rem;
   margin: 2.5px;
}
/* MAIN CONTENT */
main {
   display: flex;
}
#gallery-content {
   display: inline-block;
}
#gallery-header {
   margin: 5px;
}
#gallery img {
   margin: 5px;
   height: 125px;
   max-width: 175px;
}
#add-topic {
margin-left: auto;
margin-right: 10px;
}
#add-topic-text {
   margin: 5px 0px;
}